
<div class="closeButton" >
    <div >
       <ion-button fill="clear"  color="tertiary"  float="right"	 (click)="dismiss()" slot="end">
         <ion-icon slot="icon-only" name="close"></ion-icon>
         </ion-button>
    </div>
   
  </div>
<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
  <ion-button (click)="openCart()">
    <!-- <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge> -->
    <div class="cart-length">{{ cartItemCount | async }}</div>
    <ion-icon slot="icon-only" name="cart"></ion-icon>
</ion-button>
</ion-header>

 <ion-content padding>
    <div class="display">
        <div class ="info" *ngFor="let p of Products" > 
            <div class="d-image">
                <img src="{{p.obj.image}}" alt="">
          </div>
          <div class="name">
              <p class="single-desc" >{{p.obj.name}}</p>
              <p class="single-price" > {{p.obj.productCode}}</p>
              <p class="single-price" > {{p.obj.price}}</p>
          </div>
          <div class="desc">
              <p class="single-desc" >{{p.obj.desc}}</p>
          </div>
          <ion-item>
            <ion-label color="medium" position="floating">Size</ion-label>
            <ion-select multiple="true" [(ngModel)]="event.size">
              <ion-select-option *ngFor="let s of size">{{s}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button (click)="addToCart( p )" slot="end">Add to Cart </ion-button>
        </div>
        </div>

</ion-content>
