
<div class="closeButton" align="right">
  <div class="closeButton">
    <ion-button fill="clear" color="medium" float="right" (click)="dismiss()" slot="end">
      <ion-icon class="closeIcon" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </div>

</div>


<ion-content>
  <div class="display">
    <div class="itemsDetails" *ngFor="let p of Products">
      <div class="image">
        <img src="{{p.obj.image}}" alt="">
      </div>
      <div class="info">
        <div class="name">
          <ion-title no-padding class="prodName">{{p.obj.name}}</ion-title>
          <p class="prodCode">code:&nbsp; {{p.obj.productCode}}</p>
        </div>
        <div class="price">
          <ion-label class="prodPrice"> R &nbsp;{{p.obj.price}}</ion-label>
        </div>
        <div class="desc">
          <p class="proDesc">{{p.obj.desc}}</p>
        </div>
        <div class="size">
            <div class="sizeContainer">
              <ion-item class="radioBttns" lines="none" >
                <ion-label color="medium" position="floating">Size</ion-label>
                <ion-select multiple="true" color="medium" (ionChange)="sizeSelect($event, s, i)">
                <ion-select-option *ngFor="let s of p.obj.size; let i = index">{{s}}</ion-select-option>
            </ion-select>
          </ion-item>
              
            </div>
          <!-- <div class="ItemNo">
            <p> {{p.obj.items}}</p>
          </div> -->
        </div>
        <br>
        <div class="qty">
            <ion-label>Quantity</ion-label> <br>
                <ion-input style="width: 200px;" type="number" min="1" max="1000000" [(ngModel)]="event.quantity"></ion-input>

        </div>
        <div class="buttons" >
         {{ p.amount | currency:'R':'symbol'}}
         <ion-button shape="round" color="warning" class="btn" (click)="addToCart(p)" slot="end">Add to Cart </ion-button>
        </div>

        <div>
          <ion-button color="warning" fill="clear" (click)="addNewCart(p)" slot="end">
            <ion-icon color="warning" slot="icon-only" name="heart"></ion-icon>
          </ion-button>
        </div>

      </div>
    </div>
  </div>
</ion-content>