<div class="container">
  <div class="content">
    <div class="row">
      <div class=" sidebar1">
          <ion-button class="categories"  color="warning" fill="clear" slot="end" (click)="CountinueShoping() " >
          <ion-icon  id="1" class="homeIcon" name="home"  width="100" height="100" ></ion-icon></ion-button>
      </div> 
      <div class="main-content">
        <div class="thisContent" >
                   <div class="logo">
                  <img src="../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="100" height="100" (click)="CountinueShoping() " >
                </div>
          <div class="navBarItems">
            <div>
                <ion-button fill="clear"  color="warning" (click)=" presentPopover($event)" slot="end"><ion-icon name="person"></ion-icon></ion-button>
           
                    <ion-button fill="clear" (click)="trolley()">
                <ion-label  color="warning" class="cart-length">{{ cartItemCount | async }}</ion-label>
                <ion-icon color="warning" slot="icon-only" name="cart"></ion-icon>
              </ion-button>        
            </div>
          </div>
        </div>
        <ion-content scroll='true' >
        <div class="profile-field" >
          <div class="profile-content" >
          <div class="profile-field-content" >
            <div class="cover-photo" >
              <img class="cover-image" src="../../../assets/f77392832f13b428f45dd4b7b43ebe6f.jpg" alt="">
            </div>
            <div class="profile-picture">
               <!-- <div  >
              <img class="ppc" src="../../../assets/435dc662ea9048007ec3fa59882dde66.jpg" height="500px" width="500px" alt="">
            </div> -->
            <div>
            <ion-item *ngIf="!image">
              <ion-label color="medium" position="stacked" id="profile_image">Profile picture</ion-label>
              <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
            </ion-item>
            <ion-item *ngIf="image"><img src="{{image}}" height="80" width="80"></ion-item>
            </div>

            <div>
              <!-- <img class="ppc"  src="{{p.data.image}}" alt="" height="500px" > -->
            </div>
            <div class="labelN" >
                <div class="Name-label" >
            </div>
            </div>
          
            </div>
            <div class="details-section" >
            <div class="Account-details" >
             
              <h5>Account details</h5>
              <div class="details" >
                <div>
                  <ion-button (click)="updateDetails()"> <ion-icon  name="create"></ion-icon> </ion-button> 
                </div>
                <div>
                  <ion-input [(ngModel)]='name' ></ion-input>
                </div>
                <div>
                  <ion-input [(ngModel)]='email' disabled></ion-input>
                </div>
                <div>
                  <ion-input [(ngModel)]='address'></ion-input>
                </div>
                <div>
                  <ion-input type="number" min="1" max="10" [(ngModel)]='number'></ion-input> 
                </div>
              </div>
           
            </div>
            <div  class="Account-history"  >
              <h5>order history</h5>
              <ion-card  *ngFor="let li of Allorders" class="Account-history"  (click)="ViewDetails(li)" class="history">
                
                <div>
                  <ion-label>{{li.ref}}</ion-label>
                </div>
                <div>
                  <ion-label>{{li.info.date }} </ion-label>
                                 <!-- userID just for testing remove after use -->
                  <!-- <ion-label>---{{li.info.userID}}</ion-label> -->

                </div>
              </ion-card>
            </div>
            
           </div>
          </div>
          </div>
        </div>
      </ion-content>
      </div>
    </div>
  </div>
</div>

