<ion-header>
    <div >
        <ion-button fill="clear"  color="tertiary"  float="right"	 (click)="dismiss()" slot="end">
          <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
     </div>
  <ion-toolbar>
      <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-label>Order History </ion-label>
      
<ion-list >
  <div *ngFor="let b of conArray" class="line" >
    <div  *ngFor="let li of b.product">
    <ion-card  class="oderDetails">
      <ion-item class="cart-item">
        <ion-thumbnail item-start>
          <img src="{{li.image}}">
        </ion-thumbnail>
        <span class="ornum"><p>Name : {{li.product_name}}</p></span>
        <span class="ornum"> <p> R {{li.price}} </p></span>
        <span class="ornum"> <p>Quantity: {{li.quantity}}</p></span>
      </ion-item>
    </ion-card>
  </div>
  </div>
</ion-list>
</ion-content>
