<!-- <ion-content>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class=" sidebar1">

          <ion-button class="categories" color="warning" fill="clear" slot="end" (click)="CountinueShoping() ">
            <ion-icon class="homeIcon" name="home" width="100" height="100"  ></ion-icon>
          </ion-button >
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Vase')" slot="end">Vase
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Bowls and Pots')" slot="end">
            Bowls & <br> pots</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Cups and Plates')"
            slot="end">Mugs & plates</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Photo Frame')" slot="end">
            Photo <br> frames</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Lamps')" slot="end">Lamps
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Decor Pallets')" slot="end">
            Deco <br> Pallets</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Wall Deco')" slot="end">Wall
            <br> decos</ion-button>
        </div>
        <div class="main-content">
          <div class="thisContent">
            <div class="logo">
              <img src="../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="100" height="100"  (click)="CountinueShoping() " >
            </div>
            <div class="navBarItems">
              <div>
                <ion-searchbar placeholder="Search Products" [(ngModel)]='myDest' (ionChange)='SearchProducts($event);'
                  value=""></ion-searchbar>
              </div>
              <div>
                <ion-button color="warning" fill="clear" (click)="goRegister()">
                  <ion-icon color="warning" slot="icon-only" name="contact"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="openCart()">
                  <ion-label color="warning" class="cart-length">{{ cartItemCount | async }}</ion-label>
                  <ion-icon color="warning" slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>

      <div class="for-heading">
        <h1>Shopping bag</h1>
<div class="coverContent">
  
  <div class="heading">
    <div class="items">
      <ion-title  >item</ion-title>
      <div *ngFor="let p of cart" class="itemsDetails">
        <div class="itemImage">
          <img src="{{p.obj.image}}" width="100px" height="100px" alt="">
        </div>
        <div class="itemName">
          <ion-label class="ionLabel" >{{ p.obj.name }}</ion-label>
        </div>

      </div>
    </div>
    <div class="qty">
      <ion-title>qty</ion-title>
      <div *ngFor="let p of cart" class="qtyNo">
        <ion-label class="ionLabel"> {{ p.count }}</ion-label>
      </div>

    </div>
    <div class="price" >
      <ion-title>price</ion-title>
      <div *ngFor="let p of cart" class="priceNo">
        <ion-label class="ionLabel">{{ p.obj.quantity * p.obj.price | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="subtotal">
      <ion-title>subtotal</ion-title>
      <div class="subtotalNo" *ngFor="let p of cart">
        <ion-label class="ionLabel">{{ p.obj.price * p.count | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="delete">
      <ion-title color="light"  >delete</ion-title>
      <div class="deleteItem" *ngFor="let p of cart">
        <ion-label >
          <ion-button color="medium" fill="clear" (click)="removeCartItem(p)"> <ion-icon name="trash"> </ion-icon></ion-button>
        </ion-label>
      </div>
    </div>
  </div>
  <div class="total">
    
    <h2>Order Summary</h2>
    <div class="totaldetails">
      <div>
        <ion-label  class="ionLabel"> total amount </ion-label>
      </div>
      <div>
        <ion-label  class="ionLabel"> R &nbsp;{{ total }}</ion-label>
      </div>
    </div>
    <div class="buttons">
      <ion-button class="btn" padding color="danger" shape="round" expand="full" (click)="placeOrder()">Place Order
      </ion-button>

      <ion-button class="btn" padding color="warning" shape="round" expand="full" (click)="CountinueShoping()">Countinue Shopping
      </ion-button>
    </div>
  </div>
</div> 
</div>
        </div>
      </div>
    </div>
  </div>
</ion-content> -->



<!-- here -->
<ion-content>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class=" sidebar1">

          <ion-button class="categories" color="warning" fill="clear" slot="end" (click)="CountinueShoping() ">
            <ion-icon class="homeIcon" name="home" width="100" height="100"  ></ion-icon>
          </ion-button >
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Vase')" slot="end">Vase
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Bowls and Pots')" slot="end">
            Bowls & <br> pots</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Cups and Plates')"
            slot="end">Mugs & plates</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Photo Frame')" slot="end">
            Photo <br> frames</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Lamps')" slot="end">Lamps
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Decor Pallets')" slot="end">
            Deco <br> Pallets</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Wall Deco')" slot="end">Wall
            <br> decos</ion-button>
        </div>
        <div class="main-content">
          <div class="thisContent">
            <div class="logo">
              <img src="../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="100" height="100"  (click)="CountinueShoping() " >
            </div>
            <div class="navBarItems">
              <div>
                <ion-searchbar placeholder="Search Products" [(ngModel)]='myDest' (ionChange)='SearchProducts($event);'
                  value=""></ion-searchbar>
              </div>
              <div>
                <ion-button color="warning" fill="clear" (click)="goRegister()">
                  <ion-icon color="warning" slot="icon-only" name="contact"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="openCart()">
                  <ion-label color="warning" class="cart-length">{{ cartItemCount | async }}</ion-label>
                  <ion-icon color="warning" slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>

      <div class="for-heading">
        <h1>Shopping bag</h1>
<div class="coverContent">
  
  <div class="heading">
    <div class="items">
      <ion-title  >item</ion-title>
      <div *ngFor="let p of cart" class="itemsDetails">
        <div class="itemImage">
          <img src="{{p.image}}" width="100px" height="100px" alt="">
        </div>
        <div class="itemName">
          <ion-label class="ionLabel" >{{ p.name }}</ion-label>
        </div>

      </div>
    </div>
    <div class="qty">
      <ion-title>qty</ion-title>
      <div *ngFor="let p of cart" class="qtyNo">
        <ion-label class="ionLabel"> {{ p.quantity }}</ion-label>
      </div>

    </div>
    <div class="price" >
      <ion-title>price</ion-title>
      <div *ngFor="let p of cart" class="priceNo">
        <ion-label class="ionLabel">{{ p.quantity * p.price | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="subtotal">
      <ion-title>subtotal</ion-title>

      <div class="subtotalNo" *ngFor="let p of cart">
        <ion-label class="ionLabel">{{ p.quantity * p.price | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="delete">
      <ion-title color="light"  >delete</ion-title>
      <div class="deleteItem" *ngFor="let p of cart">
        <ion-label >
          <ion-button color="medium" fill="clear" (click)="removeCartItem(p.id)"> <ion-icon name="trash"> </ion-icon></ion-button>
        </ion-label>
      </div>
    </div>
  </div>
  <div class="total">
    
    <h2>Order Summary</h2>
    <div class="totaldetails">
      <div>
        <ion-label  class="ionLabel"> total amount </ion-label>
      </div>
      <div>
        <ion-label  class="ionLabel"> R &nbsp; {{getTotal()}}</ion-label>
      </div>
    </div>
    <div class="buttons">
      <ion-button class="btn" padding color="danger" shape="round" expand="full" (click)="placeOrder();presentToast()">Place Order
      </ion-button>

      <ion-button class="btn" padding color="warning" shape="round" expand="full" (click)="CountinueShoping()">Countinue Shopping
      </ion-button>
    </div>
  </div>
</div> 
</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>