<ion-content>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class=" sidebar1">

          <ion-button class="categories" color="warning" fill="clear" slot="end" (click)="CountinueShoping() ">
            <ion-icon class="homeIcon" name="home" width="100" height="100"  ></ion-icon>
          </ion-button >
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Vase')" slot="end">Vase
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Bowls and Pots')" slot="end">
            Bowls & <br> pots</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Cups and Plates')"
            slot="end">Mugs & plates</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Photo Frame')" slot="end">
            Photo <br> frames</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Lamps')" slot="end">Lamps
          </ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Decor Pallets')" slot="end">
            Deco <br> Pallets</ion-button>
          <ion-button class="categories" color="medium" fill="clear" (click)="getProducts('Wall Deco')" slot="end">Wall
            <br> decos</ion-button>
        </div>
        <div class="main-content">
          <div class="thisContent">
            <div class="logo">
              <img src="../../assets/logo2.jpg" class="img-responsive center-block" alt="Logo" width="100" height="100"  (click)="CountinueShoping() " >
            </div>
            <div class="navBarItems">
              <div>
                <ion-searchbar placeholder="Search Products" [(ngModel)]='myDest' (ionChange)='SearchProducts($event);'
                  value=""></ion-searchbar>
              </div>
              <div>
                <ion-button color="warning" fill="clear" (click)="goRegister()">
                  <ion-icon color="warning" slot="icon-only" name="contact"></ion-icon>
                </ion-button>
                <ion-button fill="clear" (click)="openCart()">
                  <ion-label color="warning" class="cart-length">{{ cartItemCount | async }}</ion-label>
                  <ion-icon color="warning" slot="icon-only" name="cart"></ion-icon>
                </ion-button>
              </div>
            </div>
          </div>

      <div class="for-heading">
        <h1>Shopping bag</h1>
<div class="coverContent">
  
  <div class="heading">
    <div class="items">
      <ion-title  >item</ion-title>
      <div *ngFor="let p of cart" class="itemsDetails">
        <div class="itemImage">
          <img src="{{p.image}}" width="100px" height="100px" alt="">
        </div>
        <div class="itemName">
          <ion-label class="ionLabel" >{{ p.name }}</ion-label>
          <ion-label class="ionLabel">product code</ion-label>
          <ion-label class="ionLabel">size</ion-label>
        </div>

      </div>
    </div>
    <div class="qty">
      <ion-title>qty</ion-title>
      <div *ngFor="let p of cart" class="qtyNo">
        <ion-label class="ionLabel"> {{ p.quantity }}</ion-label>
      </div>

    </div>
    <div class="price" >
      <ion-title>price</ion-title>
      <div *ngFor="let p of cart" class="priceNo">
        <ion-label class="ionLabel">{{ p.quantity * p.price | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="subtotal">
      <ion-title>subtotal</ion-title>
      <!-- <div class="subtotalNo">
        <ion-label class="ionLabel">1</ion-label>
      </div> -->
      <div class="subtotalNo" *ngFor="let p of cart">
        <ion-label class="ionLabel">{{ p.quantity * p.price | currency:'R':'symbol' }}</ion-label>
      </div>
    </div>
    <div class="delete">
      <ion-title color="light"  >delete</ion-title>
      <div class="deleteItem" *ngFor="let p of cart">
        <ion-label >
          <ion-button color="medium" fill="clear" (click)="removeCartItem(p)"> <ion-icon name="trash"> </ion-icon></ion-button>
        </ion-label>
      </div>
    </div>
  </div>
  <div class="total">
    
    <h2>Order Summary</h2>
    <!-- <div class="subtotal1">
      <div>
        <ion-label  class="ionLabel"> Sub-total </ion-label  >
      </div>
      <div>
        <ion-label  class="ionLabel"> R &nbsp; 5000</ion-label>
      </div>
    </div> -->
    <!-- <div class="vatincluded">
      <div>
        <ion-label  class="ionLabel"> Sub-total </ion-label>
      </div>
      <div>
        <ion-label  class="ionLabel"> R &nbsp; 5000</ion-label>
      </div>
    </div> -->
    <div class="totaldetails">

      <div>
        <ion-label  class="ionLabel"> total amount </ion-label>
      </div>
      <div>
        <ion-label  class="ionLabel"> R &nbsp; {{getTotal()}}</ion-label>
      </div>


    </div>
    <div class="buttons">
      <ion-button class="btn" padding color="danger" shape="round" expand="full" (click)="placeOrder()">Place Order
      </ion-button>

      <ion-button class="btn" padding color="warning" shape="round" expand="full" (click)="CountinueShoping()">Countinue Shopping
      </ion-button>
    </div>
  </div>


</div> 
</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-title color="light" size="small"> @ 2019 Pitseng Arts and Crafts. All right reserved. Privacy Policy
    </ion-title>
  </ion-toolbar>
</ion-footer> -->


















































































































































































<!-- <ion-content fullscreen>
   
    <div class="ion-padding">
   
      <ion-list>
        <ion-item *ngFor="let p of cart" class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="2" class="ion-align-self-center">
                <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">
                  <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center">
                {{ p.quantity }}
              </ion-col>
   
              <ion-col size="2" class="ion-align-self-center">
                <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">
                  <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
   
              <ion-col size="2" offset="5">
                <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                  <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9">
            <ion-avatar>
                <img src="{{p.image}}">
            </ion-avatar>
                <b>{{ p.name }}</b>
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ p.quantity * p.Delete | currency:'R':'symbol' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                Total:
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ getTotal() | currency:'R':'symbol' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
   
      <ion-button expand="full" (click)="placeOrder()">
          <ion-icon name="checkmark-circle" class="navicon" ></ion-icon>PLACE ORDER
      </ion-button>
    </div>
   
  </ion-content> -->
<!-- 

  <ion-content fullscreen>
   
    <div class="ion-padding">
   
      <ion-list>
        <ion-item  class="ion-text-wrap">
          <ion-grid>
            <ion-row  *ngFor="let p of cart"class="ion-align-items-center">
          <ion-col>
             <ion-label>Items</ion-label>
             <ion-col>name</ion-col>
          </ion-col>
             
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
   
      <ion-button expand="full" (click)="placeOrder()">
          <ion-icon name="checkmark-circle" class="navicon" ></ion-icon>PLACE ORDER
      </ion-button>
    </div>
   
  </ion-content>

       

         -->
<!-- <table>

  <thead>
    <th colspan="4">Items</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Subtotal</th>
  </thead>
  <tbody>
    <tr>
      <ion-item>
        <td>image</td>
      <td>name</td>
      <td>productcode</td>
      <td>price</td>
      </ion-item>
      
        <td>quantity</td>
        <td>price</td>
        <td>subtotal</td>
     
     
    </tr>
  </tbody>




</table> -->