<!-- <ion-content fullscreen>
   
    <div class="ion-padding">
   
      <ion-list>
        <ion-item *ngFor="let p of cart" class="ion-text-wrap">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="2" class="ion-align-self-center">
                <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">
                  <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col size="1" class="ion-align-self-center">
                {{ p.quantity }}
              </ion-col>
   
              <ion-col size="2" class="ion-align-self-center">
                <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">
                  <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
   
              <ion-col size="2" offset="5">
                <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                  <ion-icon name="close-circle" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="9">
            <ion-avatar>
                <img src="{{p.image}}">
            </ion-avatar>
                <b>{{ p.name }}</b>
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ p.quantity * p.price | currency:'R':'symbol' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                Total:
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ getTotal() | currency:'R':'symbol' }}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
   
      <ion-button expand="full" (click)="placeOrder()">
          <ion-icon name="checkmark-circle" class="navicon" ></ion-icon>PLACE ORDER
      </ion-button>
    </div>
   
  </ion-content> -->

        <div class="coverContent">



            <div  class="heading">
              <div class="items">
                <ion-title>item</ion-title>
                <div *ngFor="let p of cart"  class="itemsDetails" >
                  <div class="itemImage" >
                       <img src="{{p.image}}" width="100px" height="100px" alt="">
                  </div>
                  <div class="itemName" >
                       <ion-label>{{ p.name }}</ion-label>
                  <ion-label>product code</ion-label>
                  <ion-label>size</ion-label>
                  </div>
               
                </div>
              </div>
              <div  class="qty" >
                  <ion-title>qty</ion-title>
                  <div *ngFor="let p of cart" class="qtyNo" >
                    <ion-label class="Qno" >1</ion-label>
                  </div>
                  
              </div>
              <div class="price" >
                  <ion-title>price</ion-title>
                  <div *ngFor="let p of cart"  class="priceNo">
                    <ion-label>1</ion-label>
                  </div>
              </div>
              <div class="subtotal" >
                  <ion-title>subtotal</ion-title>
                  <div  class="subtotalNo" >
                    <ion-label>1</ion-label>
                  </div>
                  <div class="subtotalNo" >
                      <ion-label>1</ion-label>
                    </div>
                  
              </div>
              <div class="delete" >
                  <ion-title>delete</ion-title>
                  <div class="deleteItem" >
                      <ion-label><ion-icon name="trash"></ion-icon></ion-label>
                    </div>
                    <div class="deleteItem" >
                        <ion-label><ion-icon name="trash"></ion-icon></ion-label>
                      </div>
              </div>
            </div>
            <div class="total">
              <div class="totaldetails" > 
                <div>
                  <ion-label > total amount </ion-label>
                </div>
                <div>
                    <ion-label > R &nbsp; 5000</ion-label>
                </div>
                
              
              </div>
              <div class="buttons" >
            <ion-button class="buttons" *ngIf= "!isPaymentRecieved" padding  color="warning"  shape="round" expand="full" >Payment Recieved</ion-button>
                  <ion-button class="buttonss" color="warning"  padding shape="block" *ngIf= "isPaymentRecieved">send reciept</ion-button>
        
              </div>
            </div>
        
 
          </div>