<ion-header>
    <ion-toolbar>
        <ion-title>Orders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-label>Products Ordered: </ion-label>
    <div *ngIf="display">
      <h5  class="empty-cart"><ion-icon name="cart" class="navicon"></ion-icon>Order History is empty</h5>
    </div>
        
	<ion-list >
      <ion-card  *ngFor="let li of  myArray">
        <ion-item class="cart-item" >
          <ion-thumbnail item-start>
            <img src="{{li.image}}">
          </ion-thumbnail>
          <br><h4>{{li.name}}</h4><br>
          <!-- <h2> R {{li.price.toFixed(2)}} </h2> -->
          <h2> R {{li.price}} </h2><br>
          <h5>Size: {{li.size}}</h5><br>
          <p>Quantity: {{li.quantity}}</p> <br>
          <h6 class="order-date">{{li.datetime}}</h6>

        </ion-item>
      </ion-card>
      
	</ion-list>
</ion-content>
