
<ion-content padding>
  <ion-label>Order History </ion-label>
        
  <ion-list >
    <div *ngIf= "conArray" class="line" >

      <div  *ngFor="let li of conArray.product">
      <ion-card  class="oderDetails">
        <ion-item class="cart-item">
          <ion-thumbnail item-start>
            <img src="{{li.image}}">
          </ion-thumbnail>
          <ion-label>Name : {{li.product_name}}</ion-label>
          <ion-label>Price :R {{li.price}}</ion-label>
          <ion-label>Quantity: {{li.quantity}}</ion-label>
          <ion-label>Amount : {{li.amount}}</ion-label>
        </ion-item>

      </ion-card>

    


    </div>
    <div >
      <span class="ornum"><p> Total : {{PList.totalPrice}}</p></span>
    </div>
    </div>
  </ion-list>

  <!-- control pdf with  -->
  <div >
    <div *ngIf="conArray">
      <ion-label>download-pdf : </ion-label>
      <button ion-fab color="medium" mini (click)="downloadUrl(pdfLink)"><ion-icon name="download"></ion-icon></button>
    </div>
  </div>
  </ion-content>
 
