<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Orders</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-label>Order List </ion-label>
    <div *ngIf="display">
      <h5  class="empty-cart"><ion-icon name="cart" class="navicon"></ion-icon>Order History is empty</h5>
    </div>
        
	<ion-list >
      <ion-card  *ngFor="let li of conArray">
        <ion-item class="cart-item" (click)="ViewDetails(li)">
          <ion-item class="cart-item"{{li.details.orderdate}}>
          <span class="ornum"><p>Order Number : {{li.details.orderNumber}} | </p></span>
          <span class="ornum"> <p> Date : {{li.details.orderdate}}</p> </span> 
        </ion-item>
       </ion-item>
      </ion-card>  
	</ion-list>
</ion-content> -->
<ion-content padding>
  <ion-label>Order History </ion-label>
        
  <ion-list >
    <div *ngIf= "conArray" class="line" >
      <div  *ngFor="let li of conArray.product">
      <ion-card  class="oderDetails">
        <ion-item class="cart-item">
          <ion-thumbnail item-start>
            <img src="{{li.image}}">
          </ion-thumbnail>
          <span class="ornum"><p>Name : {{li.product_name}}</p></span>
          <span class="ornum"> <p> R {{li.price}} </p></span>
          <span class="ornum"> <p>Quantity: {{li.quantity}}</p></span>
        </ion-item>
      </ion-card>
    </div>
    </div>
  </ion-list>
  </ion-content>
  <ion-button (click)="GotoPDF()">Generate PDF</ion-button>
