<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>               
  <ion-list>
      <ion-item *ngFor="let item of Cart " lines="inset">
        {{item.obj.count  }}. <ion-thumbnail item-start> <img src="{{item.obj.image}}"> </ion-thumbnail> {{ item.obj.productno }}- {{ item.obj.name }} - {{ item.obj.price | currency:'R':'symbol' }}
          <ion-label slot="end" text-right>{{ (item.obj.price * count) | currency:'R':'symbol' }}</ion-label>
      </ion-item>
      <ion-item>
          Total: <span slot="end">{{ total | currency:'R':'symbol' }}</span>
      </ion-item>
  </ion-list>

  <ion-button (click)="placeOrder()">
    <ion-icon name="checkmark-circle" class="navicon" ></ion-icon>PLACE ORDER</ion-button>
</ion-content>
