<!-- <ion-header>
		<div class="closeButton" >
				<div >
				   <ion-button fill="clear"  color="tertiary"  float="right"	 (click)="dismiss()" slot="end">
					 <ion-icon slot="icon-only" name="close"></ion-icon>
					 </ion-button>
				</div>
			   
			  </div>
</ion-header>


<ion-content padding>
	<div class="main-container">
		<div class="message">
			<ion-title>Payment</ion-title>

			<h5>Thank you for Shopping with PitsengArt!</h5>
			<p>You will receive your order after your payments.</p>

		</div>

		<div>
			<div class="bill-info">

				<div>
					<div class="order-heading">your order</div>
					<div>
									<ion-list>
						<ion-item class="review-item" *ngFor="let li of conArray">
							<span class="ornum">
								<p>Your order confirmation number is {{li.details.orderNumber}}</p>
							</span>
							<span class="ornum">
								<p>Date : {{li.details.orderdate}}</p>
							</span>
							<span class="ornum">
								<p>Name : {{li.obj.name}}</p>
							</span>
							<span class="ornum">
								<p> R {{li.obj.price}} </p>
							</span>
							<span class="ornum">
								<p>Quantity: {{li.obj.quantity}}</p>
							</span>
							<h5> Total: {{li.details.total}}</h5>
						</ion-item>
					</ion-list>	
					</div>
	
				</div>


				<ion-label>Banking Details. </ion-label>
				<div class="bill-info">
					<p>Account Holder : Mr Pitseng</p>
					<p>Account Number : 1234567891011</p>
					<p>Bank Name : ABSA</p>
					<p>Branch Name : Soweto</p>
					<p>Branch Code : 23055</p>
				</div>
			</div>
		</div>


	</div>

</ion-content> -->



<ion-content padding>
	<div class="main-container">
		<div class="message">
			<ion-title>Payment</ion-title>

			<h5>Thank you for Shopping with PitsengArt! You will receive your order after your payments.</h5>
			<p></p>

		</div>

		<h1>Your Order</h1>
		<div class="line" >	
				<div class="content">
					<div class="oderDetails">
						<div class="items">
				<!-- <ion-title>item</ion-title> -->
				<div *ngFor="let li of conArray" class="itemsDetails">
					<div class="itemName">
						<ion-label class="ionLabel"> {{li.obj.name}}</ion-label>
					</div>

				</div>
			</div>
			<div class="qty">
				<!-- <ion-title>qty</ion-title> -->
				<div *ngFor="let li of conArray" class="qtyNo">
					<ion-label class="ionLabel"> {{li.obj.quantity}}</ion-label>
				</div>

			</div>
			<div>

			</div>
			<div class="price">
				<!-- <ion-title>price</ion-title> -->
				<div *ngFor="let li of conArray" class="priceNo">
					<ion-label class="ionLabel">R &nbsp; {{li.obj.price}}</ion-label>
				</div>
			</div>
					</div>
		
			<div class="total-amount">
				<div>
					<ion-label>Total Amount: R 1234 </ion-label>
				</div>

				<div>
				</div>
			</div>
		</div>
		<div class="businessInfor">
			<div  *ngFor="let li of conArray" class="reference" >
				<p>your reference number {{li.details.orderNumber}} please use it for 
					paying the amount  due.
					
					</p>
				<p>Your order confirmation number is {{li.details.orderNumber}}</p>
			</div>
			<div class="bankDetails" > 
				<p>Account Holder : Mr Pitseng</p>
				<p>Account Number : 1234567891011</p>
				<p>Bank Name : ABSA</p>
				<p>Branch Name : Soweto</p>
				<p>Branch Code : 23055</p>
			</div> 

		</div>
		<div class="buttonDismiss" >
			<ion-button class="btn" padding color="warning" shape="round" expand="full"  (click)="dismiss()">done
			</ion-button>
		</div>
	</div>

	</div>
</ion-content> 