
<ion-content padding>
	<div class="main-container">
		<div class="message">
			<ion-title>Payment</ion-title>

			
			<p></p>

		</div>

		<h1>Your Order</h1>
		<div *ngFor="let b of conArray" class="line" >	
			
				<div class="content"  >
					<div *ngFor="let li of b.product" class="oderDetails">
						<div class="items">
				<!-- <ion-title>item</ion-title> -->
				<div  class="itemsDetails">
					<div class="itemName">
						<ion-label class="ionLabel"> {{li.product_name}}</ion-label>
					</div>

				</div>
			</div>
			<div class="qty">
				<!-- <ion-title>qty</ion-title> -->
				<div class="qtyNo">
					<ion-label class="ionLabel"> {{li.quantity}}</ion-label>
				</div>

			</div>
			<div>

			</div>
			<div class="price">
				<div class="priceNo">
					<ion-label class="ionLabel">R &nbsp; {{li.price}}</ion-label>
				</div>
			</div>
			<!-- <div class="amount">
				<div class="amountNo">
					<ion-label class="ionLabel">R &nbsp; {{li.amount}}</ion-label>
				</div>
			</div> -->
					</div>
		
		
			
		</div>
	</div>
	<div class="total-amount">
		<div>
			<ion-label>{{total | currency: '&#82;'}}</ion-label>
		</div>

	</div>
		<div class="businessInfor">
			<div class="reference" >
				<p>your reference number: {{'Pitseng'+key}} please use it for 
					paying the amount  due.
					
					</p>
			</div>
			<div class="bankDetails" > 
				<p>Account Holder : Mr Pitseng</p>
				<p>Account Number : 1234567891011</p>
				<p>Bank Name : ABSA</p>
				<p>Branch Name : Soweto</p>
				<p>Branch Code : 23055</p>
			</div> 

		</div>
		<div class="buttonDismiss" >
			<ion-button class="btn" padding color="warning" shape="round" expand="full"  (click)="logoutAlert()">done</ion-button>
		</div>
	

	</div>
</ion-content> 