
<ion-content>

  <main class="main">
    <div class="side-container">
        <aside class="side-container">
            <ion-button fill="clear" (click)="getProducts('Vase')" slot="end">Vase</ion-button>
            <ion-button fill="clear" (click)="getProducts('Bowls and Pots')" slot="end">Bowls and pots</ion-button>
            <ion-button fill="clear" (click)="getProducts('Cups and Plates')" slot="end">Mugs and plates</ion-button>
            <ion-button fill="clear" (click)="getProducts('Photo Frame')" slot="end">Photo frames</ion-button>
            <ion-button fill="clear" (click)="getProducts('Lamps')" slot="end">Lamps</ion-button>
            <ion-button fill="clear" (click)="getProducts('Decor Pallets')" slot="end">Decor Pallets</ion-button>
            <ion-button fill="clear" (click)="getProducts('Wall Deco')" slot="end">Wall decorations</ion-button>
            
        </aside>
    </div>
    <section class="content-wrapper">
        <nav class="navigation-bar">
          <ion-button fill="clear" (click)="openProfile()" slot="end">Profile</ion-button>
          <ion-button fill="clear" (click)="logOut()" slot="end">Logout</ion-button></nav>
          
        <div class="container">
            <div class="categories-block"  *ngFor="let event of Products" >
                <ion-row no-padding class="categories-banner">
                    <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
                        {{event.categories }}<br>
                    </ion-col>
                </ion-row>
                <ion-slides [options]="sliderConfig">
                    <ion-slide >
                        <div *ngIf="myProduct">
                            <ion-card >
                                <ion-card-header >
                                    <ion-card-title (click)="ViewDetails(event)">
                                      <img src="{{event.obj.image}}" alt="" height="300" width="300">
                                    </ion-card-title>
                                    <ion-card-content>
                                      {{event.obj.name}} <br>
                                      R{{event.obj.price}}<br> 
                                      <ion-button (click)="addToCart(event, cid)" slot="end">Add to Cart </ion-button>
                                    </ion-card-content>
                                </ion-card-header>
                            </ion-card>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div> 
        </div>
    </section>
  </main>
  <ion-footer>
      <ion-toolbar>
        <ion-title color="light" size="small" >  @ 2019  Pitseng Arts and Crafts.  All right reserved. Privacy Policy</ion-title>
      </ion-toolbar>
    </ion-footer>

<!--   <div class="navigation_bar">
    <div class="left-icons">
      <a href="login" (click) ="onLogin()" >Login</a>/<a href="register" (click) ="onRegister()">Register</a>
      <ion-button (click)="getProducts('Vase')" slot="end">Vase</ion-button>
      <ion-button (click)="getProducts('Bowls and Pots')" slot="end">Bowls and pots</ion-button>
      <ion-button (click)="getProducts('Cups and Plates')" slot="end">Mugs and plates</ion-button>
      <ion-button (click)="getProducts('Photo Frame')" slot="end">Photo frames</ion-button>
      <ion-button (click)="getProducts('Lamps')" slot="end">Lamps</ion-button>
      <ion-button (click)="getProducts('Decor Pallets')" slot="end">Decor Pallets</ion-button>
      <ion-button (click)="getProducts('Wall Deco')" slot="end">Wall decorations</ion-button>
      <ion-button (click)="openProfile()" slot="end">Profile</ion-button>
      <ion-button (click)="logOut()" slot="end">Logout</ion-button>
      <ion-buttons slot="end">
      <ion-button (click)="openCart()">
      <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      <ion-icon slot="icon-only" name="cart"></ion-icon>
          </ion-button>
      </ion-buttons>
    </div>
  </div> -->
     

  <!-- <ion-list>
    <div *ngIf="items.length > 0; else noItems">
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </div>
    <ng-template #noItems>
      <ion-item>
        No items found.
      </ion-item>
    </ng-template>
  </ion-list> -->
<!--   <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search an item"></ion-searchbar>
  <div class="categories-block"  *ngFor="let event of Products" >
      <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.categories }}<br>
          </ion-col>
      </ion-row>
      <ion-slides [options]="sliderConfig">
          <ion-slide >
              <div *ngIf="myProduct">
                  <ion-card >
                      <ion-card-header >
                          <ion-card-title (click)="ViewDetails(event)">
                            <img src="{{event.obj.image}}" alt="" height="300" width="300">
                          </ion-card-title>
                          <ion-card-content>
                            {{event.obj.name}} <br>
                            R{{event.obj.price}}<br> 
                            <ion-button (click)="addToCart(event, cid)" slot="end">Add to Cart </ion-button>
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
          </ion-slide>
      </ion-slides>
  </div> 
  
  
<!-- </ion-content>
<div class="navigation_bar">
  <div class="left-icons" >
    <ion-button fill="clear" color="light" (click)="openHome()" slot="end">Home</ion-button>
    <ion-button  fill="clear" color="light"(click)="openProfile()" slot="end">Profile</ion-button>
    <ion-button fill="clear" color="light" (click)="openUploads()" slot="end">Add Product</ion-button>
    <ion-button fill="clear" color="light" (click)="openInvoice()" slot="end">Invoices</ion-button>
  </div>
    <div class="avatar-image" >
      <img src="../../../assets/1.PNG" class="logo">
    </div>
 <div class="right-icons" >
    <ion-button fill="clear" color="light" (click)="openUploads()" slot="end">
        <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button fill="clear"  color="light" 	 (click)="openInvoice()" slot="end">
       <ion-icon slot="icon-only" name="home"></ion-icon>
       </ion-button>
 </div>
</div>
<ion-content>
  <div class="mainContainer"> -->
    <!-- <div class="productTitle" >
    <ion-item *ngFor="let item of items">
      {{ item.title }}
    </ion-item>
    </div> -->
 <!--  <div class="categories-block"  *ngFor="let event of Products" > -->
      <!-- <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.obj.categories }}<br>
          </ion-col>
      </ion-row> -->      
        <!--       <div *ngIf="myProduct" class="myProduct" >
                <div>
                </div>
                  <ion-card no-padding >
                      <ion-card-header no-padding (click)="ViewDetails(event)">
                          <ion-card-title no-padding >
                            <img src="{{event.obj.image}}" alt="" class="image" >
                          </ion-card-title>
                          <ion-card-content >
                            <span><h2>{{event.obj.name}}</h2></span> 
                            <span> <p>R{{event.obj.price}}</p> </span>
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
  </div>
</div>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-title color="light" size="small" >  @ 2019  Pitseng Arts and Crafts.  All right reserved. Privacy Policy</ion-title>
    </ion-toolbar>
  </ion-footer> -->
