<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="onSearchTerm($event)" placeholder="Search an item"></ion-searchbar>
  <ion-list>
    <div *ngIf="items.length > 0; else noItems">
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </div>
    <ng-template #noItems>
      <ion-item>
        No items found.
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
