<ion-header>
  <ion-toolbar>
     
      <ion-button (click)="openProfile()" slot="end">Profile</ion-button>
      <ion-button (click)="logOut()" slot="end">Logout</ion-button>
      <ion-buttons slot="end">
        <ion-button (click)="openCart()">
            <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
            <ion-icon slot="icon-only" name="cart"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>

<!-- attempting search from here -->
  <ion-toolbar> 
          <ion-searchbar placeholder="Search Products"  [(ngModel)]='myDest' (ionChange)='SearchProducts($event);' value="" style='min-width: 200px;'></ion-searchbar> 
          <ion-icon style="float: right; padding: 10px;" name="close" (click)="HideButton()"></ion-icon>
          <ion-list  [hidden]="autocompleteItemz.length == 0" >
            <div *ngIf="autocompleteItemz.length > 0">
          <ion-item class="list"  *ngFor="let item of autocompleteItemz" tappable id="submit" (click)="productDetails(item)">
                <ion-avatar>
                    <img src="{{item.obj.image}}" alt="" height="300" width="300">
                </ion-avatar>
                <ion-label> {{ item.obj.name }}</ion-label>  
          </ion-item>
          </div>
         </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <div class="categories-block"  *ngFor="let event of Products" > -->
      <div class="categories-block" *ngFor="let event of Products" >
      <ion-row no-padding class="categories-banner">
          <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              {{event.obj.categories }}<br>
          </ion-col>
      </ion-row>
      <ion-slides [options]="sliderConfig">
          <ion-slide >
              <div *ngIf="myProduct">
                  <ion-card >
                      <ion-card-header >
                          <ion-card-title (click)="ViewDetails(event)">
                            <img src="{{event.obj.image}}" alt="" height="300" width="300">
                          </ion-card-title>
                          <ion-card-content>
                            {{event.obj.name}} <br>
                            R{{event.obj.price}}<br> 
                            <ion-button (click)="addToCart(event)" slot="end">Add to Cart </ion-button>
                          </ion-card-content>
                      </ion-card-header>
                  </ion-card>
              </div>
          </ion-slide>
      </ion-slides>
  </div>
</ion-content>
