.row {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.content {
  width: 100%;
  margin: 0%;
  left: 0%;
  right: 0%;
  // background-color: green;
}
.logo {
  max-height: 130px;
}
.logo > img {
  padding: 3px;
  border: 3px solid white;
  border-radius: 100%;
}
.list {
  position: absolute;
  width: 40%; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-y: auto;
  z-index: 999999999999999999999999999;
  
  
}
.image{
  width: 100%;
  min-height: 200px;
  // height: 50%;
}
// .sidebar1 > li:hover {
// }
ion-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bolder;
 
}
// ion-button {
//   background-color: rgba(182, 17, 17, 0.2);
//   color: white;
//   font-weight: bolder;
 
// }

.navigation_bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.navBarItems {
  padding-top: 8px;
  display: flex;
  margin-left: auto;
  // border: solid red;
  text-align: center;
  margin-top: 20px;
  margin-right: 0%;
  justify-content: flex-end;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}
ion-searchbar{
  width: 150%;
  --border-radius: 25px;
}
.sidebar1 {
 
  border-right: 0.5px solid #7070707E;
  width: 10%;
  text-align: center; 
  display: flex;
  flex-direction: column;
}
ion-label{
  font-family: serif;
}
.main-content {
  text-align: center;
  width: 100%;
  margin: 0%;
  left: 0%;
  right: 0%;
  //  border:  solid #707070;
}
.thisContent{
  // border: solid blue;
  border-bottom: 0.5px solid #7070707E;
  display: flex;
  flex-direction: row;
  height: 12%;
}
.container{
  // border: solid red;
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  height: 100%;
  width: 100%;
  // justify-content: center;
}
.container1{
  // border: solid red;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
 justify-content: center;
  // height: 80%;
  background-color: white;
  margin: 0 auto;
  
  // width: 80%;
  // // margin-top: 20px;
  // flex-wrap: wrap;
  // // border: solid red;
}
.categories-block{
  // border: solid orange;
    margin: 0 auto;
    width: 17%;
    min-width: 300px;
    display: flex;
    height: 450px;
    // min-height: 10;
    margin-top: 2%;
  //   // margin: 16px;
}
// .card{
//   width: 100%;
//   height: 50%;

// }
.image{
  // width: 100%;
  // min-height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  
}
// ion-card{
//   width: 100%;
//   height: 50vh;
  
//   margin-top: 10%;
//   // margin-bottom: 15%;
// // border:  solid red;
//   border-radius: 15px;
//   box-shadow: rgb(235, 230, 230);
//   background-color: rgba(245, 245, 245, 0.363);
// }

.active {
  background: red;
}
.myProduct{
  width: 100%;
  min-width: 300px;
  height: 100%;
  // min-height: 200px;
    background-color:white;
  // border: solid rgb(143, 62, 62);
    border-radius: 15px;
  // box-shadow: rgb(235, 230, 230);
  box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
  // box-shadow: black;
  // border: solid red;
//   width: 100%;
//   height: auto;
//   margin: auto;
// padding-bottom: 10%;
//   padding: 0%;
//   display: flex;
//   flex-direction: row; 
//   justify-content: space-between;
}
.myProduct:hover > .card-body{
  margin-top: -0px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.myProduct:hover{
  transform: scale(1.02);
}
.card-button{
font-weight: lighter;
font-family: serif;
}

.card-button {
  visibility: hidden;
}
.myProduct:hover .card-button {
  visibility: visible;
}



.name{
  font-family: serif;
  font-weight: lighter;
  font-size: large;
 text-transform: capitalize;
}
ion-button{
  text-transform: uppercase;
  font-family: serif;
  font-weight: bold;
  box-shadow: 2px #7070707E;
}
.price{
  font-weight: bold;
  font-size: large;
  font-family: serif;
}
.homeIcon{
  font-size: 5rem;
}

.categories{
  height: 12%;
  // border:  solid black ;
  border-bottom: 0.5px solid #7070707E;
}


#toast, #toast-cart{
  padding: 10px;
  padding-left: 5px;
  position: fixed;
  width: 230px;
  height: 50px;
  top: 0;
  left: 80%;
  transform:translate(-50%);
  background-color: #EFF2FF;
  color: #76777E;
  padding: 1px;
  border-radius: 8px;
  text-align:center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
#toast.show, #toast-cart.show{
  visibility:visible;
  animation:fadeInOut 3s;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 50%;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 50%; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 50%; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



.empty{
  margin-top: 20%;
  font-weight: bold;
  font-family: serif;
  font-weight: 10px ;
}





// @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

// body{
//   background-color: #DFE7EF;
// }

// .container{
//   margin-top: 50px;
// }

// h1, .card-title, a, #toast{
//   font-family: 'Roboto', sans-serif;
// }

// h1{
//   color: #5C7CFA;
// }

// .card{
//   box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
//   border-radius: 15px;
//   transition: transform .2s;
// }

// .card-body{
//   padding: 10px;
//   margin-top: -50px;
//   -webkit-transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -o-transition: all 1s ease;
//   transition: all 1s ease-in-out;
// }

// .heart{
//   color: #989898;
//   margin-top: 15px;
//   margin-left: 230px;
//   font-size: 30px;
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   border-radius: 30px;
//   padding: 0px;
//   text-align: center;
// }

// .heart-active{
//   color: #C50707;
// }

// .heart:hover{
//   color: red;
//   background-color: #f9f9f9;
//   -webkit-transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -o-transition: all 1s ease;
//   transition: all 1s ease-in-out;
// }

// .card-body a{
//   visibility: hidden;
// }

// .card:hover > .card-body{
//   margin-top: -0px;
//   -webkit-transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -o-transition: all 1s ease;
//   transition: all 1s ease;
// }

// .card:hover{
//   transform: scale(1.02);
// }

// .card:hover > .card-body > a{
//   visibility: visible;
// }

// .first-image{
//   width: 100%;
//   border-top-left-radius: 15px;
//   border-top-right-radius: 15px;
// }

// .cart, .wish{
//   padding: 5px;
//   width: 50px;
//   height: 50px;
//   margin-left: -24px;
//   margin-top: 0px;
//   margin-right: 3px;
//   background-color: #fff;
//   color: #5C7CFA;
//   border-top-left-radius: 8px;
//   border-bottom-left-radius: 8px;
//   text-align: center;
//   -ms-display: flex;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .wish{
//   color: #C50707;
// }

#toast, #toast-cart{
  padding: 10px;
  padding-left: 5px;
  position: fixed;
  width: 230px;
  height: 50px;
  top: 0;
  left: 80%;
  transform:translate(-50%);
  background-color: #EFF2FF;
  color: #76777E;
  padding: 1px;
  border-radius: 8px;
  text-align:center;
  z-index: 1;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  visibility: hidden;
  opacity: 0;
  -ms-display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
#toast.show, #toast-cart.show{
  visibility:visible;
  animation:fadeInOut 3s;
}

@keyframes fadeInOut{
  5%,95%{opacity:1;top:50px}
  15%,85%{opacity:1;top:30px}
}
.ionContent{
  height: 100%;
}
